[Unit]
Description=LoveOTC

[Service]
Type=notify
ExecStart=/home/ubuntu/LoveOTC/TSystems.LoveOTC
User=root
WorkingDirectory=/home/ubuntu/LoveOTC
Restart=always
SyslogIdentifier=LoveOTC

[Install]
WantedBy=multi-user.target
