@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 900;
  font-style: normal;
  src: url("/fonts/TeleNeoWeb-Ultra.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 900;
  font-style: italic;
  src: url("/fonts/TeleNeoWeb-UltraItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 800;
  font-style: normal;
  src: url("/fonts/TeleNeoWeb-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 800;
  font-style: italic;
  src: url("/fonts/TeleNeoWeb-ExtraBoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 700;
  font-style: normal;
  src: url("/fonts/TeleNeoWeb-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 700;
  font-style: italic;
  src: url("/fonts/TeleNeoWeb-BoldItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/TeleNeoWeb-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/TeleNeoWeb-MediumItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/TeleNeoWeb-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/TeleNeoWeb-RegularItalic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 200;
  font-style: normal;
  src: url("/fonts/TeleNeoWeb-Thin.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "TeleNeoWeb";
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/TeleNeoWeb-ThinItalic.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  margin: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  image-rendering: -webkit-optimize-contrast;
}
